{%load static%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block head%}{%endblock%}</title>
    <link rel="stylesheet" href="/static/main/css/layout.css">
    <link rel="stylesheet" href="{% static 'main/css/bootstrap/bootstrap.min.css' %}">
</head>
<body>
<div class="topbar_color">
    <div class="test">
<aside class="first_left_block_test">
            <a href="{%url 'home'%}"><img class="logo" src="{%static 'main/img/logo_new.png'%}" alt="Logo"></a>
</aside>
        </div>
    {%block place%}{%endblock%}
</div>
    <div class="botton_for_layout_color">
        <aside class="first_left_block">
                 <a href="{%url 'home'%}" class="button_first_block" style="vertical-align: middle">Главная страница</a>
                 <a href="{%url 'price'%}" class="button_first_block">Тарифы на природный и сжиженный газ для населения</a>
                 <a href="{%url 'onewindow'%}" class="button_first_block">Информация по заявительному принципу одно окно</a>
                 <a href="{%url 'ProceduresOneWindow'%}" class="button_first_block">Услуги оказываемые населению</a>
                 <a href="{%url 'Videos' %}" class="button_first_block">Видеоролики</a>
                 <a href="{%url 'bot'%}" class="button_first_block">Чат-бот</a>
        </aside>
               <main clas="main_body">{%block body%}{%endblock%}</main>
    </div>
</body>
</html>