{%extends 'main/Shell.html'%}
{%block head%}Ближайшие банковские учреждения, расчетные счета{%endblock%}

{%block topbar%}
<div class="topbar">
    <table>
        <tr>
            <td height="20vh"><a class="back" href="{%url 'onewindow'%}">Назад</a></td>
            <td><a class="toptext">Ближайшие банковские учреждения, расчетные счета</a></td>
        </tr>
    </table>

</div>
{%endblock%}

{%block body%}
    <div class="cool_text">
    <div class="text_test">
    <h3>Ближайшее банковское учреждение находится:</h3>
    <p>ОАО "АСБ Беларусбанк" ЦБУ №225<br>
        гп. Шумилино ул. Ленинская 31 <br>
                тел.+375(21)305-49-98</p><br>
    <h3>Режим работы:</h3>
    <p>ПН. - ЧТ. 8:30-17:30 Перерыв 12:30-13:15 Пт. 08:30-16:15 Перерыв 12:30-13:15<br>
        Суббота, воскресенье - выходной</p><br>
    <h3>Расчетный счет:</h3>
    <p>p/c BY27AKBB 3819 3821 0003 0000 0000<br>
        ОАО "АСБ Беларусбанк",<br>
            BIC AKBBBY2X УНП 100325912 </p>
    </div>
        </div>
{%endblock%}
