{%extends 'main/Shell.html'%}
{%block head%}Книга замечаний и предложений{%endblock%}

{%block topbar%}
<div class="topbar">
    <table>
        <tr>
            <td height="20vh"><a class="back" href="{%url 'onewindow'%}">Назад</a></td>
            <td><a class="toptext">Книга замечаний и предложений</a></td>
        </tr>
    </table>

</div>
{%endblock%}

{%block body%}
    <div class="cool_text">
    <div class="text_test"><br><br>
<br><br>
    <h1>КНИГА</h1>
      <h3>Замечаний и предложений</h3>
    <p>находится по адресу г.п. Шумилино, ул. Луначарского, 45 <br><br>
        Административное здание Шумилинского РГС, приемная<br><br><br>
          Ответственный за ведение книги замечаний и предложений –<br><br>
                оператор ПЭВМ Котлова Галина Николаевна<br><br>
    </div>
        </div>
{%endblock%}
