{%extends 'main/Shell.html'%}
{%block head%}Потребителю газа{%endblock%}

{%block topbar%}
<div class="topbar">
    <table>
        <tr>
            <td height="20vh"><a class="back" href="{%url 'onewindow'%}">Назад</a></td>
            <td><a class="toptext">Потребителю газа</a></td>
        </tr>
    </table>

</div>
{%endblock%}

{%block body%}
{%for el in data%}
        <div class="botton_color">
                <embed class="docs_view" src="{{ el.gas_potreb_doc.url }}" >
        </div>
{%endfor%}
{%endblock%}