{%extends 'main/Shell.html'%}
{%block head%}Извещение об отсутствии{%endblock%}


{%block topbar%}
<div class="topbar">
    <table>
        <tr>
            <td height="20vh"><a class="back" href="{%url 'Forms'%}">Назад</a></td>
            <td><a class="toptext">Извещение об отсутствии</a></td>
        </tr>
    </table>

</div>
{%endblock%}
{%block body%}
{%for el in data%}
<center>
        <div class="botton_color">
                <embed class="docs_view" src="{{ el.Absence_notice_doc.url }}" >
                <p href="{{ el.Absence_notice}}" class="cool_text">{{ el.title }} {{el.times}}</p>
        </div>
</center>
{%endfor%}
{%endblock%}


