{%extends 'main/Shell.html'%}
{%block head%}Заявление о реконструкции системы газоснабжения{%endblock%}


{%block topbar%}
<div class="topbar">
    <table>
        <tr>
            <td height="20vh"><a class="back" href="{%url 'Forms'%}">Назад</a></td>
            <td><a class="toptext">Заявление о реконструкции системы газоснабжения</a></td>
        </tr>
    </table>

</div>
{%endblock%}
{%block body%}
{%for el in data%}

<center>
        <div class="botton_color">
                <embed class="docs_view" src="{{ el.Application_for_the_reconstruction_of_the_gas_supply_system_doc.url }}" >
                <p href="{{ el.Application_for_the_reconstruction_of_the_gas_supply_system}}" class="cool_text">{{ el.title }} {{el.times}}</p>

        </div>
</center>
{%endfor%}
{%endblock%}
