{%extends 'main/Shell.html'%}
{%block head%}Заявление на финансирование страительно-монтажных работ{%endblock%}
{%block topbar%}
<div class="topbar">
    <table>
        <tr>
            <td height="20vh"><a class="back" href="{%url 'Forms'%}">Назад</a></td>
            <td><a class="toptext">Заявление на финансирование страительно-монтажных работ</a></td>
        </tr>
    </table>

</div>
{%endblock%}
{%block body%}
{%for el in data%}

<center>
        <div class="botton_color">
                <embed class="docs_view" src="{{ el.Application_for_financing_construction_and_installation_works_doc.url }}" >
                <p href="{{ el.Application_for_financing_construction_and_installation_works}}" class="cool_text">{{ el.title }} {{el.times}}</p>
        </div>
</center>
{%endfor%}
{%endblock%}



