{%extends 'main/Shell.html'%}
{%block head%}Заявление об оформлении льготы об оплате за потребленный газ{%endblock%}


{%block topbar%}
<div class="topbar">
    <table>
        <tr>
            <td height="20vh"><a class="back" href="{%url 'Forms'%}">Назад</a></td>
            <td><a class="toptext">Заявление об оформлении льготы об оплате за потребленный газ</a></td>
        </tr>
    </table>

</div>
{%endblock%}
{%block body%}
{%for el in data%}

<center>
        <div class="botton_color">
                <embed class="docs_view" src="{{ el.Application_for_registration_of_a_discount_on_payment_for_consumed_gas_doc.url }}" >
                <p href="{{ el.Application_for_registration_of_a_discount_on_payment_for_consumed_gas}}" class="cool_text">{{ el.title }} {{el.times}}</p>

        </div>
</center>
{%endfor%}
{%endblock%}
