{%extends 'main/Shell.html'%}
{%block head%}Заявление на ликвидацию зарегестрированной ИБУ{%endblock%}

{%block topbar%}
<div class="topbar">
    <table>
        <tr>
            <td height="20vh"><a class="back" href="{%url 'Forms'%}">Назад</a></td>
            <td><a class="toptext">Заявлениесна ликвидацию зарегестрированной ИБУ</a></td>
        </tr>
    </table>

</div>
{%endblock%}
{%block body%}
{%for el in data%}

<center>
        <div class="botton_color">
                <embed class="docs_view" src="{{ el.Application_for_liquidation_of_the_registered_IBU_doc.url }}" >
                <p href="{{ el.Application_for_liquidation_of_the_registered_IBU}}" class="cool_TEXT">{{ el.title }} {{el.times}}</p>

        </div>
</center>
{%endfor%}
{%endblock%}
