{%extends 'main/Shell.html'%}
{%block head%}Заявление о перерасчете{%endblock%}


{%block topbar%}
<div class="topbar">
    <table>
        <tr>
            <td height="20vh"><a class="back" href="{%url 'Forms'%}">Назад</a></td>
            <td><a class="toptext">Заявление о перерасчете</a></td>
        </tr>
    </table>

</div>
{%endblock%}
{%block body%}
{%for el in data%}

<center>
        <div class="botton_color">
                <embed class="docs_view" src="{{ el.Recalculation_statement_doc.url }}" >
                <p href="{{ el.Recalculation_statement}}" class="cool_text">{{ el.title }} {{el.times}}</p>

        </div>
</center>
{%endfor%}
{%endblock%}
